[build-system]
build-backend = "poetry.core.masonry.api"
requires = [
    "poetry-core>=1.0.0",
]

[tool.black]
exclude = '''
/(
  | \.git
  | \.mypy_cache
  | _build
  | build
  | dist
)/
'''
line-length = 79
skip-magic-trailing-comma = true

[tool.constcheck]
filter = true

[tool.constcheck.ignore_from]
"pyaud/_cache.py" = [
    "miss: %s",
]
"pyaud/_default.py" = [
    "clean",
]
"pyaud/_cli.py" = [
    "store_true",
]
"pyaud/_config.py" = [
    "default",
    "exclude",
    "formatter",
    "handlers",
    "level",
    "root",
    "class",
]

[tool.coverage.report]
fail_under = 100

[tool.coverage.run]
omit = [
    "whitelist.py",
    "pyaud/__main__.py",
]

[tool.docsig]
check-class = true

[tool.poetry]
authors = [
    "jshwi <stephen@jshwisolutions.com>",
]
description = "Framework for writing Python package audits"
keywords = [
    "audit",
    "fix",
    "ci",
    "style",
    "format",
]
license = "MIT"
name = "pyaud"
readme = "README.rst"
version = "4.0.1"

[tool.poetry.dependencies]
appdirs = "^1.4.4"
environs = "^9.4.0"
gitspy = "^0"
lsfiles = "^0"
object-colors = "^2.0.1"
pyaud-plugins = ">=0.8"
python = "^3.8"
spall = "^0"
tomli = "^2.0.1"
tomli-w = "^1.0.0"

[tool.poetry.dev-dependencies]
bump2version = "^1.0.1"
ipython = "^8.4.0"
prompt-toolkit = "^3.0.30"
pylint = "^2.14.5"
pytest = "^7.1.1"
pytest-randomly = "^3.12.0"
pytest-sugar = "^0.9.5"
pytest-xdist = "^2.5.0"
restview = "^3.0.0"
sphinx-toolbox = "^3.1.2"
templatest = "^0.5.0"

[tool.poetry.scripts]
pyaud = "pyaud.__main__:main"

[tool.pyaud.audit]
modules = [
    "toc",
    "whitelist",
    "sort-pyproject",
    "format",
    "format-docs",
    "format-str",
    "imports",
    "typecheck",
    "unused",
    "lint",
    "const",
    "params",
    "test",
    "docs",
]

[tool.pyaud.clean]
exclude = [
    "*.egg*",
    ".mypy_cache",
    ".env",
]

[tool.pyaud.indexing]
exclude = [
    "whitelist.py",
    "conf.py",
]

[tool.pyaud.logging]
disable_existing_loggers = true
version = 1

[tool.pyaud.logging.formatters.standard]
format = "%(asctime)s %(levelname)s %(name)s %(message)s"

[tool.pyaud.logging.handlers.default]
backupCount = 60
class = "logging.handlers.TimedRotatingFileHandler"
filename = "~/.cache/pyaud/log/pyaud.log"
formatter = "standard"
when = "d"

[tool.pyaud.logging.root]
handlers = [
    "default",
]
level = "DEBUG"
propagate = false

[tool.pytest.ini_options]
addopts = [
    "--durations=5",
    "-vv",
    "--color=yes",
    "--cov-report",
    "term-missing",
    "-n",
    "auto",
]
filterwarnings = "ignore::DeprecationWarning"
norecursedirs = [
    "docs",
    "*.egg-info",
    ".git",
    ".mypy_cache",
    ".idea",
]
