[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.black]
exclude = '''
/(
  | \.git
  | \.mypy_cache
  | _build
  | build
  | dist
)/
'''
line-length = 79
skip-magic-trailing-comma = true

[tool.coverage.report]
fail_under = 100

[tool.coverage.run]
omit = ["whitelist.py", "pyaud/__main__.py"]

[tool.poetry]
authors = ["jshwi <stephen@jshwisolutions.com>"]
description = "Framework for writing Python package audits"
license = "MIT"
name = "pyaud"
packages = [
    { include = "pyaud" },
]
readme = "README.rst"
version = "3.13.5"

[tool.poetry.dependencies]
appdirs = "^1.4.4"
environs = "^9.4.0"
gitspy = "^0"
lsfiles = "^0"
m2r = "^0.2.1"
mistune = "<=0.8.4"
object-colors = "^2.0.1"
pyaud-plugins = "^0"
python = "^3.8"
spall = "^0"
toml = "^0.10.2"

[tool.poetry.dev-dependencies]
bump2version = "^1.0.1"
grip = "^4.6.1"
ipython = "^8.3.0"
prompt-toolkit = "^3.0.29"
pytest-randomly = "^3.10.3"
pytest-sugar = "^0.9.4"
pytest-xdist = "^2.5.0"
restview = "^3.0.0"
toml-sort = "^0.20.0"

[tool.poetry.scripts]
pyaud = "pyaud.__main__:main"

[tool.pytest.ini_options]
addopts = [
    "--durations=5",
    "-vv",
    "--color=yes",
    "--cov-report",
    "term-missing",
    "-n",
    "auto"
]
filterwarnings = "ignore::DeprecationWarning"
norecursedirs = ["docs", "*.egg-info", ".git", ".mypy_cache", ".idea", "prof"]
