# Default ignored files
/shelf/
/workspace.xml
/tasks.xml
/usage.statistics.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Plugin files
/sonarlint/
